<%= link_to 'Back', root_path , class: "btn btn-default"%>

<%= form_for @video, :html => {:multipart => true} do |f| %>
  <table class ="new">
    <tr>
      <th><%= f.label(:name, "Name")%></th>
      <td><%= f.text_field(:name)%></td>
    </tr>
    <tr>
      <th><%= f.label(:description, "Description")%></th>
      <td><%= f.text_field(:description)%></td>
    </tr>
    <tr>
      <th><%= f.label("Category")%></th>
      <td><%= f.select(:category, Category.all.map{|cat| cat.name})%></td>
    </tr>
    <tr>
      <th><%= f.label(:avatar,"File")%></th>
      <td><%= f.file_field :avatar %></td>
    </tr>
    <tr>
      <th><%= f.submit 'Upload', class: "btn btn-default"%></th>
    </tr>
  </table>
<%end%>



